/*  GLOBAL - (TODO? in future replace UserSpice styling with this) */
input:not([type='range']):not([type='checkbox']):not([readonly]):focus,
input[type='range']:focus, input[type='checkbox']:focus {
    box-shadow: 0 0 3px purple;
    outline: 0 none;
}

#global-messages {
    position: fixed;
    text-align: center;
    width: 100%;
}
.global-message {
    top: 50px;
    padding: 6px;
    width: 50%;
    margin: auto;
}
/* TODO: make .success and .error and make these styles more applicable to every success/error */
#global-success {
    background-color: rgba(52, 219, 60, 0.2);
    color: #34db3c; /* same as above, but opaque */
    border: 1px solid #34db3c;
}
#global-error {
    background-color: rgba(219, 52, 60, 0.2);
    color: #db343c;
    border: 1px solid #db343c;  /* same as above, but opaque */
}

/* APP */
#tasks {
    float: left;
}

#scores {
    float: right;
}

#tasks > div > button {
    float: right;
}

#tasks td input {
    margin: 0 2px;  /* so red .invalid borders don't touch each other */
}

#tasks td input[type="range"] {
    display: inline-block;  /* Override `display: block;` from dark.css :< */
    vertical-align: bottom; /* Vertically align with '1' and '5' */
    margin: 0 5px;
    width: 100px;
}

.invalid {
    border: 1px solid #db343c;
    /* color: #db343c; */
}
