/*
	Global
*/
body { font-size: 16px; font-family: 'Lato', sans-serif; background-color: #333; color: lightgrey; margin: 0; padding: 0; }

/*
	Headers
*/
h2 { color: #A094C0; }
h1 { /* horizontally align with #control */ display: inline-block; }
#control { float: right; padding: 10px 150px 0 0; /* align with h1 */ display: inline-block; }

/*
	Typography
*/
a { color: grey; text-decoration: none; }
a:hover, a:focus { color: #C09894; }
a:focus { text-decoration: underline; }

/*
	Forms
*/
label { background-color: #ccc; color: #333; padding: 3px; }
input[type="text"], input[type="password"] { width: 350px; font-size: 18px; font-family: 'Lato', sans-serif; }
input[type="submit"] { padding: 10px 12px; background-color: #B8CDC3; color: #2E3331; border: 1px solid #2E3331; }

/*
	Messages
*/
.message { color: rgba(255, 255, 255, 0.5); border: 2px solid rgba(255, 255, 255, 0.5); padding: 5px; width: 600px; }
.good { background-color: rgba(0, 255, 0, 0.5); }
.bad { background-color: rgba(255, 0, 0, 0.5); }

/*
	Structure
*/
hr { margin-right: 200px; }
#right, #ribbon { display: inline-block; }
#ribbon { float: left; width: 125px; padding: 50px 10px; height: 100vh; background-color: #444; }
#right { padding: 0 50px; width: 1000px; }
